
 
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row; 
  margin-left: 60px; 
   margin-top: 60px; 
  height: calc(100vh - 60px); 
}
